.primary_button a 
{
    --c: black;
    color: var(--c);
    background-color:#FF5C58;
    font-size: 18px;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
}
