@import url(//db.onlinewebfonts.com/c/6bff5f8f85a7385fbdc21a8f724dd8ac?family=Rajasthan);
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
:root
{
    --headerPrimaryColor : #0088a9;
    --headerBackgroundColor: #24252A;
}



*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0.75vw;
    background: #24252A;
}


/* ================================= social Icons ================================== */
.fa
{
    text-align: center;
    text-decoration: none;
    width: 3vw;
    font-size: 2vw;
    color: white;
    margin-bottom: 1.25vw;
}

.fa:hover
{
    color: var(--headerPrimaryColor);
}
